.categorySelectorActive {
  &::before, &::after {
    position: absolute;
    height: 16px;
    width: 24px;
    right: 0px;
    background: rgb(247 247 247/var(--tw-bg-opacity));
    content: "";
  }
  &::before {
    top: -8px;
    transform: skewY(30deg);
  }
  &::after {
    bottom: -8px;
    transform: skewY(-30deg);
  }
}